# Logs
*.log


# Robot Framework outputs
output.xml
log.html
report.html

# Screenshots
*.png

# Python
__pycache__/
*.pyc

# Virtual env
venv/

# IDE
.idea/
.vscode/

# Robot results
results/*
!results/.keep